.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-container {
  position: relative;
  width: 100px;
  height: 100px;
  transition: transform 1s ease-in-out;
}

.loading-container.expanding {
  transform: scale(40);
}

.loading-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #f3322c;
  transition: transform 0.5s ease-in-out, clip-path 0.5s ease-in-out;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.move-right {
  transform: translateX(49px);
}

.move-left {
  transform: translateX(-49px);
}

.move-right-far {
  transform: translateX(148px);
}

.move-left-far {
  transform: translateX(-148px);
}

.move-right-far-down {
  transform: translateX(148px) translateY(99px);
}

.move-left-far-up {
  transform: translateX(-148px) translateY(-99px);
}

.move-right-far-up {
  transform: translateX(148px) translateY(-99px);
}

.move-left-far-down {
  transform: translateX(-148px) translateY(99px);
}

.morph-right-far {
  transform: translateX(148px);
  clip-path: polygon(0% 0%, 50% 50%, 100% 100%, 0% 100%);
}

.morph-left-far {
  transform: translateX(-148px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 50%);
}

.square-1 { z-index: 1; }
.square-2 { z-index: 2; }
.square-3 { z-index: 3; }
.square-4 { z-index: 4; }
.square-rb { z-index: 5; }
.square-lt { z-index: 6; }
.square-rt { z-index: 7; }
.square-lb { z-index: 8; }