.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}

/* Custom styling for rotation-band */
.rotation-band .scroller {
  font-size: 14px;
  font-weight: 500;
  color: var(--deep-red);
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  line-height: 24px;
  letter-spacing: normal;
  filter: none;
  /* word-spacing: 1rem; */
}

.rotation-band .parallax {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}